@import "reset.styl";
@import "mixin.styl";
@import "icon.styl";
@import "animation.styl";

primary-border() {
    border: 1px solid #D5D5D5;
    border-radius: 2px;
}

$primary-color = #F46700;
$font-family = "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";

html,
body {
    background-color: #FFF;
    font-size: 13px;
    font-family: $font-family;
    line-height: 1.1;
    gradient-radial(#fafafa, #d9d9d9);
}

body {
    position: relative;
}

#main {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.col7,
.col3,
.col5 {
    display: inline-block;
    vertical-align: top;
}

.col5 {
    width: 50%
}

.col7 {
    width: 70%;
}

.col3 {
    width: 30%;
}

.container {
    & > div {
        & + div {
            margin-top: 20px;
        }
        
        border: 1px solid transparent;
        border-radius: 2px;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        //background-color: rgba(255, 255, 255, 0.3)
        background-color: #fff;

        & > h1 {
            font-size: 26px;
            font-weight: 600;
            text-align: left !important;
            margin: 20px 0;
        }
    }
}

hide-display() {
    display: none;
    &.active {
        display: block;
    }
}

.scrollable-test {
    text-align: center;
    
    .scroll-vertical,
    .scroll-horizontal {
        position: relative;
        width: 300px;
        primary-border();
        display: inline-block;
        vertical-align: middle;
    }

    .scroll-panel {
        overflow: hidden;
    }

    .scroll-thumb {
        position: absolute;
        background-color: $primary-color;
        transition: background-color .3s;
        border-radius: 3px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .2);
        &:hover {
            background-color: #b3b3b3;
        }
    }

    .scroll-track {
        position: absolute;
    }
    
    .scroll-vertical {
        .scroll-content {
            vertical-align: middle;
            text-align: center;
            line-height: 300px;
        }

        .scroll-track {
            width: 6px;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .scroll-thumb {
            width: 6px;
        }
    }

    .scroll-horizontal {
        margin-left: 20px;
        height: 200px;

        .scroll-content {
            line-height: 200px;
            vertical-align: middle;
        }

        .scroll-track {
            height: 6px;
            right: 0;
            left: 0;
            bottom: 0px;
        }

        .scroll-thumb {
            height: 6px;
        }
    }

}

btn() {
    display: inline-block;
    primary-border();
    cursor: pointer;
    padding: 5px;
    gradient-vertical(#FBFBFB, #EEEEEE);
    &:hover {
        gradient-vertical(#EDEDED, #DDDDDD)
    }
    &:active {
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
    }
    user-select(none);
}

btn-large() {
    btn();
    padding: 10px;
}

.trigger-test {
    .trigger {
        primary-border();
        display: inline-block;
        padding: 5px;
        cursor: pointer;

        position: relative;
        btn();
        
        & + .trigger {
            margin-left: 10px;
        }
    }

    .popup {
        position: absolute;
        bottom: 30px;
        primary-border();
        padding: 5px;
        z-index: 1;
        background-color: #FFFBED;
        white-space: pre;
        left: -10px;

        display: none;
        &.active {
            display: block;
        }

        &.enter {
            animation: slide-up-in .2s;
        }
        &.leave {
            animation: slide-up-out .2s;
        }
    }
}

.draggable-test {
    .draggable-playground {
        width: 80%;
        height: 300px;
        primary-border();
        margin: 0 auto;

        position: relative;
        
        & > div {
            primary-border();
            border-style: dotted;
            position: absolute;

            vertical-align: middle;
            text-align: center;

            width: 120px;
            height: 120px;
            line-height: 120px;
            
            transition: border-color .2s;
            
            &.dragging {
                border-color: $primary-color;
            }
        }

    }
}

.tooltip-test {
    .tooltip-trigger {
        primary-border();
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        border-color: $primary-color;

        position: relative;
        
        & + .tooltip-trigger {
            margin-left: 30px;
        }
    }
}

.tooltip-popup {
    position: absolute;
    color: #fff;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    display: none;
    margin-top: -5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    transition: opacity .2s;

    &.active{
        display: block;
    }

    &.enter {
        animation: slide-up-in .2s;
    }

    &.leave {
        animation: slide-up-out .2s;
    }

    &.bottom {
        margin-top: 5px;
    }
}

.slider-test {

    .slider-step {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }

    .slider-handle {
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        
        .tooltip-trigger {
            width: 100%;
            height: 100%;
        }
    }
    
    .slider-track {
        position: absolute;
        background-color: $primary-color;
        border-radius: 3px;
    }

    .slider {
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: inline-block;
        vertical-align: middle;

        .slider-step {
            height: 8px;
        }

        .slider-handle {
            margin-top: -4px;
        }

        .slider-track {
            height: 8px;
            background-color: $primary-color;
            border-radius: 3px;
        }
    }

    .col5 {
        text-align: center;
        height: 100px;
        line-height: 100px;
    }

    .slider.vertical {
        vertical-align: middle;
        width: 8px;
        height: 100px;

        .slider-step {
            height: 100%;
        }

        .slider-handle {
            margin-left: -4px;
        }
        
        .slider-track {
            bottom: 0;
            width: 8px;
        }
    }
}

.select-test {
    .select-container {
        & + .select-container {
            margin-top: 15px;
        }
    }
    label {
        margin-right: 10px;
    }
    .select{
        primary-border();
        display: inline-block;
        width: 150px;
        cursor: pointer;

        position: relative;
        transition: box-shadow .2s;
        
        btn-large();
        
        .icon {
            display: inline-block;
            position: absolute;
            right: 8px;
            top: 10px;
            transition: transform .2s;
            color: #999;
            font-size: 12px;
        }

        &.active {
            .icon {
                transform: rotate(0.5turn);
            }
        }
    }
    
    .select.person {
        width: 200px;
    }
}

.select-popup {
    primary-border();
    position: absolute;
    text-align: left;
    line-height: 2;
    background-color: #fff;

    hide-display();

    .select-item {
        padding-left: 10px;
        transition: background-color .2s;
        vertical-align: top;
        &:hover {
            background-color: lighten($primary-color, 95%);
        }
        &.active {
            background-color: lighten($primary-color, 50%);
            color: #fff;
        }
    }

    &.enter {
        animation: slide-up-in .4s;
    }
    &.leave {
        animation: slide-up-out .4s;
    }
}

.select-popup.person {
    img {
        float: left;
        width: 30px;
        height: 30px;
        line-height: 0;
        margin-right: 5px;
        margin-top: -2px;
    }
    .select-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

input[type="text"] {
    margin: 0;
    background-color: transparent;
    outline: none;
    primary-border();
    padding: 5px;
    font-size: 13px;
    font-family: $font-family;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    &:focus {
        border-color: $primary-color;
        box-shadow: none;
    }
}

.auto-complete-test {
    .auto-complete-container {
        & + .auto-complete-container {
            margin-top: 15px;
        }
    }
    label {
        display: inline-block;
        width: 80px;
    }
}

.modal-test {
    .modal-trigger {
        btn();
        primary-border();
        padding: 5px;
    }
}

.modal-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    position: fixed;
    background-color: #fff;
    z-index: 2;
    display: none;
    border-radius: 3px;

    left: 50%;
    top: 50%;

    width: 400px;

    .modal-header {
        background-color: #555B6E;
        color: #fff;
        padding: 12px;
        font-size: 14px;

        border-top-left-radius: 2.5px;
        border-top-right-radius: 2.5px;

        .icon {
            padding: 12.5px;
            position: absolute;
            right: 0;
            top: 0;
            border-top-right-radius: 2.5px;
            transition: background-color .2s;
            cursor: pointer;

            &:hover {
                background-color: #F75256
            }
        }
    }

    &.active {
        display: block;
    }
    
    &.enter {
        animation: move-up-in .2s;
    }
    
    &.leave {
        animation: move-up-out .2s;
    }

    .close {
        btn();
        margin-top: 20px;
        padding: 5px;
    }

    .modal-body {
        padding: 18px;
        text-align: center;
    }
}
