icon() {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.table-test {
    .table {
        width: 100%;
        border-collapse: separate !important;
        primary-border();
    }
    
    thead {
        text-align: left;
    }

    th {
        position: relative;
        cursor: pointer;
        &:hover {
            background-color: darken(#fff, 3%);
        }
        transition: background-color .2s;

        &.sort {
            background-color: darken(#fff, 3%);
            
            &:before {
                icon();
                content: "\e900";
                position: absolute;
                right: 10px;
                transition: transform .2s;
                color: #666;
                font-size: 12px;
            }

            &.asc {
                &:before {
                    transform: rotate(0.5turn);
                }
            }
        }

        user-select(none);
        
        .resizer {
            width: 5px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            cursor: col-resize;
        }
    }

    th,
    td {
        padding: 10px 15px;
    }

    tbody {
        tr{
            &:nth-child(odd) {
                background-color: #DAE4F1;
                &:hover {
                    background-color: darken(#DAE4F1, 2%)
                }
            }

            &:nth-child(even) {
                background-color: #FAFAFA;
                &:hover {
                    background-color: darken(#FAFAFA, 2%)
                }
            }

            transition: background-color .2s;
        }
    }
}